<h1>Sign In</h1>
    <a class="button" href="<%= new_user_url %>"> Go to Sign Up! </a>
    <br>
    <form id="sign_in" action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
         <div class="fields">
            <p> Email </p>
            <input class="fields" type="text" name="user[email]" value="<%= @user.email %>"/>
        </div>
         <div class="fields">
            <p> Password </p>
            <input class="fields" type="password" name="user[password]" value=""/>
        </div>
        <br>
        <input class="button" type="submit" value="Sign In"/>
    </form>